<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.fineapple.domain.order_payment.entity"/>
        <package name="com.fineapple.domain.user.entity"/>
        <package name="com.fineapple.domain.product.entity"/>
        <package name="com.fineapple.domain.logistics_inventory.entity"/>
        <package name="com.fineapple.domain.support.entity"/>
        <package name="com.fineapple.domain.employee"/>
    </typeAliases>
</configuration>
